#html-lint
	-moz-box-sizing:    border-box
	-webkit-box-sizing: border-box
	box-sizing:         border-box
	position: absolute
	// thanks nytimes.com
	z-index: 1000000090 
	top: 0
	overflow: hidden
	width: 100%
	min-width: 200px
	min-height: 200px
	border: 1px solid #000
	border-color: rgba(0, 0, 0, .8)
	-webkit-box-shadow: 0 10px 22px rgba(0,0,0,.5), 0 0 1px rgba(255,255,255,.4) inset, 0 1px 0 rgba(255,255,255,.2) inset
	box-shadow:         0 10px 22px rgba(0,0,0,.5), 0 0 1px rgba(255,255,255,.4) inset, 0 1px 0 rgba(255,255,255,.2) inset
	background: #4a515d
	background:    -moz-linear-gradient(bottom, rgba(56,60,68,.9) 100%, rgba(74,81,93,.9) 80%, rgba(74,81,93,.9) 7%, rgba(74,81,93,.7) 15px, rgba(100,100,100,.8) 0%)
	background:     -ms-linear-gradient(bottom, rgba(56,60,68,.9) 100%, rgba(74,81,93,.9) 80%, rgba(74,81,93,.9) 7%, rgba(74,81,93,.7) 15px, rgba(100,100,100,.8) 0%)
	background:      -o-linear-gradient(bottom, rgba(56,60,68,.9) 100%, rgba(74,81,93,.9) 80%, rgba(74,81,93,.9) 7%, rgba(74,81,93,.7) 15px, rgba(100,100,100,.8) 0%)
	background: -webkit-linear-gradient(bottom, rgba(56,60,68,.9) 100%, rgba(74,81,93,.9) 80%, rgba(74,81,93,.9) 7%, rgba(74,81,93,.7) 15px, rgba(100,100,100,.8) 0%)
	background:         linear-gradient(bottom, rgba(56,60,68,.9) 100%, rgba(74,81,93,.9) 80%, rgba(74,81,93,.9) 7%, rgba(74,81,93,.7) 15px, rgba(100,100,100,.8) 0%)
	color: #fff
	font: normal 14px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif
	direction: ltr
	-ms-text-size-adjust:     100%
	-webkit-text-size-adjust: 100%

	@media (min-width:600px)
		word-wrap: break-word

	@media (min-width:1004px)
		top: 20px
		right: 20px
		width: 80%
		max-width: 800px
		-webkit-border-radius: 4px
		border-radius:         4px

@import 'reset'
@import 'headings'
@import 'definition-list'
@import 'html-lint-button'
@import 'html-lint-close'
@import 'tab-list'
@import 'tab-panel'
@import 'error'
@import 'error-count'